$utilities: map-merge(
  $utilities,
  (
    // 文字行距
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "line-height"), "values"),
              (
                "1d8": 1.8,
                "xl": 2.5,
              )
            ),
        )
      ),
    "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "rounded"), "values"),
              (
                "lg": 1rem,
                "xl": 2rem,
              )
            ),
        )
      ),
    // 背景顏色
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              (
                "default": $default,
                "light-yellow": $light-yellow,
              )
            ),
        )
      ),
    // 文字間距
    "letter-spacing":
      (
        responsive: true,
        property: letter-spacing,
        class: ls,
        values: (
          xs: -0.05em,
          sm: -0.025em,
          normal: 0,
          md: 0.025em,
          lg: 0.05em,
          xl: 0.1em,
        ),
      ),
    // 邊框顏色
    "border-color":
      (
        responsive: true,
        property: border-color,
        class: border,
        values:
          map-merge(
            $theme-colors,
            (
              "light-green": $light-green,
              "light-yellow": $light-yellow,
            )
          ),
      ),
    // 文字顏色
    "color":
      (
        property: color,
        class: text,
        local-vars: (
          "text-opacity": 1,
        ),
        values:
          map-merge(
            $utilities-text-colors,
            (
              "default": $default,
              "light-green": $light-green,
              "light-yellow": $light-yellow,
              "gray-500": $gray-500,
              "gray-600": $gray-600,
            )
          ),
      )
  )
);

// border 加入斷點
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}
