$default: #ff770f;
$light-yellow: #fdeaa4;
$gray-300: #adb5bd;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$link-color: $default;
$link-decoration: none;

$navbar-light-color: var(--bs-dark);
$navbar-light-hover-color: rgba($default, 0.7);
$navbar-light-active-color: rgba($default, 0.9);
$navbar-light-brand-color: #2c3e50;
$navbar-dark-brand-color: #fff;

$popover-border-color: #000;

$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;

$input-btn-focus-width: 0;
